#navbar {
    border-style:outset;
    border-color:green;
    background-color: lightgrey;
    border-width: 5px;
    border-radius: 20px;
    text-align: center
}

#navbar > li {
/*  background-color: green;
    display:inline-block;
    padding: 10px
    border: 2px solid purple;
    color: blue;*/
        margin-top: 5px;
        margin-left:20px;
        margin-right:5px;
        margin-bottom: 5px;
        display: inline-block;
        border-style: inset;
        border-width: 5px;
        border-radius: 20px;
        border-color: green;
        padding: 5px;
        background-color: lightgrey;
        width: 7%;
        text-align:center;
        list-style-image: url(listpoint_transparent.png);
        font-size: 15px;
        font-weight: bold;
}
#navheading{
            font-size: 60px;
            font-family: "Times New Roman", Times, serif;
            float:left;
            margin: 25px 0 0 10px;
            }

#imglechuga {
            float: right;
            margin: 0 10px 0 0;
            width:120px;
            height:95px;
            }

a{
    color: green;
}            

html { 
      background: url(gradientback.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
h2{
    font-size: 45px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    border-bottom: 6px solid green;
    border-top: 6px solid green;
}
/*Not used anymore except for the about me page, instead use container div. The Float Aspects of this messes up the order on some computers.*/
.pright{/*This is for text on the right*/
        padding: 10px 10px 10px 10px;
        border: 1px solid black;
        border-style: none;
        background-color: lightgrey;
        max-width: 700px;
        max-height: 500px;
        text-indent: 50px;
        text-align: left;
        font-size: 25px;
        float: right;
        margin: 0 5% 5% 0;
                }
.pleft{/*This is for text on the left*/
        padding: 10px 10px 10px 10px;
        border: 1px solid black;
        border-style: none;
        background-color: lightgrey;
        max-width: 700px;
        max-height: 500px;
        text-indent: 50px;
        text-align: left;
        font-size: 25px;
        float: left;
        margin: 0 0 2% 2%;
        }
.textimgleft{
            float: left;
            margin: 0 0 0 5%;
            }
.textimgright{
            float: right;
            margin: 0 5% 10% 0%;
            }
/*End of old classes, below ar the divs that you can use inorder to have good order on your pages*/
.container > *{
        display:inline-block;
        vertical-align: top;
        padding-left: 3%

        }
.imgcontain > *{
    margin: 0 3% 0 3%
}

p{
        padding: 10px 10px 10px 10px;
        border: 1px solid black;
        border-style: none;
        background-color: lightgrey;
        max-width: 50%;
        max-height: 500px;
        text-indent: 50px;
        text-align: left;
        font-size: 25px;
}